{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/admin_style.css' %}">
    <title>Admin_page</title>
</head>
<body>
    <header>
        <h1>{% block title %} Login {% endblock %}</h1>{% include "main/partials/header.html" %}
    </header>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Вывод формы с автоматической обёрткой в <p> -->
    <button type="submit">Сохранить</button>
</form>

</body>
</html>