
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
  <title>Login</title>
</head>
    <header>
      <h1>Login</h1>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url '404' %}">Shop</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url '404' %}">Contact Us</a></li>
          {% if user.is_staff == True %}
            <li>
              <a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <a class="nav-link" href="#">Welcome, {{user.username}}</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a class="nav-link" href="/register">Register</a>
        </li>
        {% endif %}
        </ul>
      </nav>
    </header>
<body>
  <div class="container py-5">
  <form method="POST">
    {% csrf_token %}
    {{ login_form }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
</body>
</html>


