{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/shop.css' %}">
    <title>Shop</title>
</head>
<body>
      <header>
        <h1>{% block title %} Shop {% endblock %}</h1>{% include "main/partials/header.html" %}
    </header>
<div class="search-container">
  <form method="get" action="{% url 'shop' %}#product-{{ query|slugify }}">
    <input type="text" name="q" placeholder="Поиск..." value="{{ query }}">
    <button type="submit">Искать</button>
  </form>
</div>
<section>
  <h2>New Added</h2>
  <ul class="product-list">
    {% for product in products %}
      <li class="product-card" id="product-{{ product.name|slugify }}">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
          <p>[Немає зображення]</p>
        {% endif %}
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }} USD</p>
        <button>Add to Cart</button>
        <a href="{% url 'reviews' %}">
          <button type="button">Reviews</button>
        </a>
        <a href="{% url 'add_review' %}">
          <button type="button">Add review</button>
        </a>
      </li>
    {% empty %}
      <li>Поки немає товарів.</li>
    {% endfor %}
  </ul>
</section>

{% if page_obj.has_other_pages %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?q={{ query }}&page=1">Первая</a>
            <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">← Назад</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">Вперёд →</a>
            <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div>
{% endif %}


      </main>
    <footer>
      <p>&copy; 2025 GoITeens. All rights reserved.</p>
    </footer>
</body>
</html>