* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  /* Set the background color of the body element */
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
 
  /* Style the header section */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
 
  header h1 {
    margin: 0;
    font-size: 28px;
  }
 
  nav ul {
    list-style: none;
    display: flex;
  }
 
  nav li {
    color: #000;
    margin-right: 20px;
  }
 
  nav a {
    color: #000;
    text-decoration: none;
  }

  nav form {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Отступ слева от пунктов меню */
}

nav form input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  outline: none;
  width: 150px;
}

nav form button {
  padding: 5px 12px;
  border: none;
  background-color: #555;
  color: white;
  font-size: 14px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav form button:hover {
  background-color: #777;
}
